/*字体设置*/
@mixin Font {
	font: {
		size: 16px;
		weight: normal;
	}
	color: #000;
}
/*表单焦点设置*/
@mixin gainFocus {
	border: {
		radius: 5px;
		width: 1px;
		style: solid;
		color: #ccc;
	}
	background: transparent;
	&:focus {
	// outline:1px solid #ff5a09;
		border: {
			radius: 5px;
			width: 1px;
			style: solid;
			color: #189dd4;
		}
		padding-left: 6px;
		box-shadow:  0px 0px 5px #189dd4;
	}	
}

/* 表单样式 */ 
.join-us{
	.join{
		width: 100%;
		height: 500px;
		overflow: auto;
		zoom: 1; 
		h2 {
			text-align: center;
			padding-top: 20px;
			font-size: 36px;
			font-weight: 300;
			margin: 0 0 20px 0;
		}
		form {
			overflow: auto;
			zoom: 1;
		}
		.information:before {
			clear: both;
			content: '';
			display: block;
			width: 0;
			height: 0;
			visibility:hidden;
		}
		.information{
			float: left;
			zoom: 1;	
			@at-root .label-box {
				
				width: 110px;
				height: 400px;
				float:left;
				label {
					display: block;
					height: 30px;
					line-height: 30px;
					text-align: right;
					margin-bottom: 20px;
					@include Font;
				}
			}
			@at-root .input-box {
				width: 240px;
				// min-width: 200px;
				height: 400px;
				margin-left: 50px;
				float: left;
				@include Font;
				
				.row {
					min-width:140px;
					height: 30px;
					line-height: 30px;
					margin-bottom: 20px;
					input {
						width: 240px;
						height: 30px;
			  			@include gainFocus;
					}
					.sex{
						margin-left: 20px;
						span {
							@include Font;
							padding-left: 20px;
						} 
					}
					.sex > input{
						display: inline-block;
						width: 15px;
						height: 15px;
						line-height: 42px;
					    -webkit-appearance: none;
						background-color: #fafafa;
						border: 1px solid #cacece;
						border-radius: 50%;
						outline: none;
						position: relative;
						&:checked {
							 border: 1px solid #adb8c0;
						}
						&:checked:after {
							content: ' ';
							width: 7px;
						    height: 7px;
							border-radius: 50%;
							background: #189dd4;
							position: absolute;
							top: 3px;
							left: 3px;
						}
					}
				}
				select {
					width: 240px;
					// min-width: 200px;
					height: 30px;
					color: #000;
					outline: none;
					border: {
						radius: 5px;
						width: 1px;
						style: solid;
						color: #ccc;
					}
					&:focus {
						border: {
							radius: 5px;
							width: 1px;
							style: solid;
							color: #189dd4;
						}
					}
					background: transparent;
					option {
						text-align: center;
						color: #000;
						background: none;
					}
				}
			}
		}
		.self-introduce {
			float: left;
			@include Font;
			h3 {
				width: 100px;
				height: 26px;
				line-height: 26px;
				margin-bottom: 30px;
				font-size: 24px;
				color: #000;
			}
			textarea {
				width: 330px;
				height: 220px;
				
				padding: 5px;
				color: #000;
				@include gainFocus;
				// overflow: hidden;
				box-sizing: border-box;
				outline: none;
				background: transparent;
			}
			input {
				width: 100px;
				height: 40px; 
				font-size: 16px;
				color: #fff;
				margin-left: 232px;
				@include gainFocus;
				background: #00B4FF; 
				&:hover {
					background: #189dd4;
				}
			}
	}

	}
	.footer{
		margin-bottom: 0;
		width: 100%;
		min-width: 630px;
		height: 130px;
		background: #333;
		.footer-con {
			
			.footer-img {
				float: left;
				width: 200px;
				height: 130px;
				line-height: 130px;
				margin: auto 0  auto 0;
				 a {
					transition: all 0.4s ease-in-out;
					display: inline-block;
					margin-left: 20px;
					&:hover {
						transform: rotate(360deg);
						transform: scale(1.2,1.2);
						// transform-origin: 100% 50%
					}
					img {
						width: 40px;
						height: 40px;
						background: #909292;
						border-radius: 28px;
						&:hover {
							background:#cfcfcf;
							filter:alpha(opacity=50);
							// border-radius: 28px;
						}
					}
				}
				span> img {
					width: 80px;
					height: 80px;
					display: none;
					border-radius: 0;
				}
			}
			ul {
				width:  200px;
				color: #fff;
				margin-left: 50px;
				float: right;
				
				li {
					height: 20px;
					// margin-bottom: 10px;
				}
				li:first-child {
					font-size: 14px;
					font-weight: bold;
					margin-bottom: 15px;
					padding-top: 10px;
				}
				a{
					font-size: 14px;
					color: #fff;
				}
			}
		}
	}
	@media screen and (max-width:799px) {
		.join {
			min-width: 630px;
			
			form{
				width: 430px;
				// height: 760px;
				margin: 0 auto;
				padding: 0 auto;
			}
			.information {
				width: 400px;
				height: 366px;
				margin: 0 auto;
				.input-box {
					width: 240px;

				}
			}
			.self-introduce {
				width: 330px;
				height: 366px;
				margin: 0 50px;
				h3{
					width: 330px;
					text-align: center;
				}
				textarea{
					margin: 0 auto;
				}
			}
		}
		.footer-con {
			width: 760px;
			height: 130px;
			margin: 0 auto;
			span > img {
				position: absolute;
				left: 140px;
				bottom: 0;
			}
		}
	}
	@media screen and (min-width:800px) {
		.join {
			form{
				width: 900px;
				height: 400px;
				margin: 0 auto;
			}
			.information {
				width: 440px;
				min-width: 366px;
				height: 400px;
				
				.input-box {
					width: 240px;
					select{
						width: 240px;
					}
				}
				
			}
			.self-introduce {
				width: 400px;
				min-width: 366px;
				height: 400px;
				margin-left: 60px;
			}
		
		}
		.footer-con {
			width: 960px;
			height: 130px;
			margin: 0 auto;
			span > img {
				position: absolute;
				left: 330px;
				bottom: 90px;
			}
		}

		
	}
	
}
