.nav{
	position:absolute;
	z-index:999;
	.nav-menu{
		margin-left: 40px;
		img{
			vertical-align: middle;
			width:56px;
			height:56px;
			&:hover{
		-webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);	
		transform: rotate(360deg);
		-webkit-transition: all 0.6s linear;
        -moz-transition: all 0.6s linear;
        -o-transition: all 0.6s linear;
        -ms-transition: all 0.6s linear;
        transition: all 0.6s linear;
			}
		}
		span{
			display:inline-block;
			font-size:20px;
			margin-top: 20px;
			margin-left: 10px;
			text-align: center;
			color:#eee;

		}
	}
}