.team-history{
    background:#eee;
   .swiper-container2{
        width: 80%;
        height: 80%;
        margin: 4% auto;
    .swiper-slide {
        .time{
            width:100%;
            height:100%;
            .time-left{
                float: left;
                width: 60px;
                height: 60px;
                margin-left: 14%;
                margin-top: 20%;
                background: #00B4FF;
                color: #fff;
                padding: 10px;
                font-size: 15px;
            .time-date-year,.time-date-month{
                width: 50px;
                height: 20px;
                margin: 8px auto 10px

            }
            
            }
            
            
            .time-right{
                float: right;
                width:60%;
                height: 30%;
                margin-top: 18%;
                margin-right: 10%;
                h1{
                color: #00B4FF;
                font-size: 45px;
                font-weight: bolder;
                margin-bottom: 10px;
                }
                p{
                font-size: 14px;
                line-height: 22px;

                }
            }
        }
   
    }
    }

    .swiper-container{
        
        margin-left: auto;
        margin-right: auto;
      
    }

      .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
  
}
.clearfix{
    content:"";
    clear: both;
    overflow: hidden;
    zoom:1;
    height:0;

}